/* Coolors Exported Palette - coolors.co/086788-07a0c3-f0c808-fff1d0-dd1c1a */
// Scheme 1
/* HSL */
$color1: hsla(195%, 89%, 28%, 1);
$color2: hsla(191%, 93%, 40%, 1);
$color3: hsla(50%, 94%, 49%, 1);
$color4: hsla(42%, 100%, 91%, 1);
$color5: hsla(1%, 79%, 48%, 1);

/* RGB */
$color1: rgba(8, 103, 136, 1);
$color2: rgba(7, 160, 195, 1);
$color3: rgba(240, 200, 8, 1);
$color4: rgba(255, 241, 208, 1);
$color5: rgba(221, 28, 26, 1);

// Scheme 2
/* Coolors Exported Palette - coolors.co/dc143c-011627-2ec4b6-f6f7f8-20a4f3 */

/* HSL */
$color1: hsla(348%, 83%, 47%, 1);
$color2: hsla(207%, 95%, 8%, 1);
$color3: hsla(174%, 62%, 47%, 1);
$color4: hsla(210%, 13%, 97%, 1);
$color5: hsla(202%, 90%, 54%, 1);

/* RGB */
$color1: rgba(220, 20, 60, 1);
$color2: rgba(1, 22, 39, 1);
$color3: rgba(46, 196, 182, 1);
$color4: rgba(246, 247, 248, 1);
$color5: rgba(32, 164, 243, 1);

// Scheme 3

/* Coolors Exported Palette - coolors.co/dc143c-a20021-f79d5c-f3752b-ededf4 */

/* HSL */
$color1: hsla(348%, 83%, 47%, 1);
$color2: hsla(348%, 100%, 32%, 1);
$color3: hsla(25%, 91%, 66%, 1);
$color4: hsla(22%, 89%, 56%, 1);
$color5: hsla(240%, 24%, 94%, 1);

/* RGB */
$color1: rgba(220, 20, 60, 1);
$color2: rgba(162, 0, 33, 1);
$color3: rgba(247, 157, 92, 1);
$color4: rgba(243, 117, 43, 1);
$color5: rgba(237, 237, 244, 1);
